
ui_*.h
*.user*
.qmake.stash
.vs/
.idea/
ModelViewer.sln
ModelViewer.vcxproj
ModelViewer.vcxproj.filters
debug/
release/
/ModelViewer_resource.rc
build/
/ModelViewer.qtvscr
/Makefile
/Makefile.Debug
/Makefile.Release
out/
dist/

/vcpkg_installed/vcpkg
/vcpkg_installed/x64-windows
/vcpkg_installed/x64-linux
/packaging/linux/vendor/vcpkg_installed
/.claude
